* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(219, 255, 250);
}

.btn-pokemon-item {
    padding: 16px 32px;
    margin-bottom: 10px;
    background-color: green         ;
    color:white;
    border: none;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin: 4px 2px;
}


/* Responsiveness across many various devices */

/* Mobile Devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        
    }
}

/* Tablets, Ipads etc. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container {

    }
}

/* Laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {

    }
}

/* Desktops */
@media only screen and (min-width: 1025px) and (max-width:1200px) {
    .container {

    }
}

/* Extra large desktops, TV Screens etc. */
@media only screen and (min-width: 1201px) {
    .container {

    }
}